---

---

<header class="header">
    <div class="grid place-content-start mx-10">
        <a href="/">
            <img src="/logo.jpg" width="100" alt="">
        </a>
    </div>
</header>

<style>
    .header {
        background-image: linear-gradient(
                to right,
                rgb(0 0 0 / 0.4),
                rgb(0 0 0 / 0.2)
            ),
            url(../rick.webp);
        padding: 5rem 0;
        background-position: center;
        background-size: cover;
        
    }

    @media (min-width: 768px) {
        .header {
            padding: 8rem 0;
        }
    }
</style>
